.card {
    padding: 5px;
    text-align: left;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 45%;
    h2{
      color: hsl(212, 100%, 25%);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0 0 1rem 0;
      font-size: 0.8rem;

    }
  }
  
.card:hover,
.card:focus,
.card:active {
  border-color: #0070f3;
}

